@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #f5f5f7;
}

a {
    will-change: color;
    transition: color .2s;
}

body {
    font-family: 'Inter', sans-serif;
    line-height: 1;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 0;
    background-color: #fff;
}
nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 36px;
}
nav li:first-child svg {
    transform-origin: center;
    transform: translateY(-2px) scale(1.5);
}
nav a {
    display: block;
    text-decoration: none;
    color: black;
    font-size: 12px;
    will-change: color;
    transition: color 0.2s;
}
nav a:hover {
    color: #06c;
}

header {
    background-color: #f9f9fa;
    overflow: hidden;

}

header div {
    display: flex;
    justify-content: center;
    padding: 28px 0;
    gap:30px;
    animation: slide 0.75s linear;
}
header a {
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    text-align: center;
    text-decoration: none;
    gap:5px;
    color: #1D1D1F;
    font-size: 12px;
    line-height: 1.5;
}
header a:hover {
    color: #06c;
}

header a img {
    width: auto;
    max-height: 30px;
}
header a:nth-child(3) img,
header a:nth-child(5) img {
    max-height: 20px;
}
figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 78px 0;
    gap:50px 0;
    transform-origin: center;
    animation: scale 1.5s linear;
}
figure img {
    max-width: 800px;
}
figure h1 {
    font-size: 96px;
    margin-bottom: 30px;
}
figure p {
    font-size: 22px;
    line-height: 1.5;
    max-width: 1024px;
    color: #444;
}

@keyframes scale {
    0% {
        opacity: 0;
        transform: scale(1.2);
    }
    50% {
        opacity: 0;
        transform: scale(1.2);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }

}
